<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.services" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application

        android:icon="@drawable/tubiao1"
        android:label="@string/app_name"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="com.project.services.tool.ExceptionApplication"
        >
<!--
        android:allowBackup="true"
        android:supportsRtl="true"
-->
       <activity android:name=".ui.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <data android:host="AuthActivity" android:scheme="com.android.example" />
            </intent-filter>
        </activity>

        <!--<data android:host="AuthActivity" android:scheme="com.android.example" />-->

        <service
            android:name=".ui.MyService"
            android:enabled="true"
            android:exported="true" >

        </service>
        <receiver android:name=".ui.MyBroadReceive"
            android:enabled="true"
            android:exported="true" >
            <intent-filter android:priority="65535">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="StartTest" />
                <action android:name="com.example.zxc.blue.tcpConnect" />
                <action android:name="com.project.services.disConnect"/>
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
